*{
    box-sizing: border-box;
    background-color: #323235;
}

body {font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer {
    font-family:'Courier New', Courier, monospace;
}

.card-header {
    display: flex;
    padding: 1px 10px;
    border: 2px solid white;
    margin: 20px;
    width: 90%;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: -3px;
    line-height: 5px;
}

.card {
    font-family:'Courier New', Courier, monospace;
    color:white;
    background-color: purple;
    justify-content: center;
    
}

.flex-container {
    display: flex;
    position: relative;
    width: 300px;
    height: auto;
    border: 2px dashed gray;    
    flex-direction: column;
    padding: 20px;
    margin: 40px;

}

h1, h2 {
    color: blueviolet; 
}