*{
    box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer {
    font-family:'Courier New', Courier, monospace;
}

.example {
    font-family:'Courier New', Courier, monospace;
    color:white;
    background-color: purple;
}

.card {
    width: 300px;
    height: auto;
    border: 15px dashed gray;    
}

h1 {
    color: blueviolet; 
}