*{
    box-sizing: border-box;
}

:root {
    --brandpurple: #954ed8;
}

body {font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #323235;
}

footer {
    font-family:'Courier New', Courier, monospace;
}

.information-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-header {
    display: flex;
    padding: 1px 10px;
    border: 2px solid white;
    margin: 20px;
    width: 90%;
    position: absolute;
    top: -40px;
    left: -3px;
    line-height: 5px;
}

.example {
    font-family:'Courier New', Courier, monospace;
    background-color: var(--brandpurple);
    color:white;
    
}


.card {
    color: var(--brandpurple);
}

.card {
    display: flex;
    position: relative;
    width: 300px;
    height: auto;
    border: 2px dashed gray;    
    flex-direction: column;
    padding: 20px;
    margin: 40px;
    justify-content: center;

}

h1, h2 {
    color: var(--brandpurple); 
}